transitmap.svg
Makefile
CMakeCache.txt
*.o
*.a
cmake_install.cmake
*~
CMakeFiles
*.cfg
*.cmake
/build/
.venv-kn-demo/
*.pyc
compile_commands.json
.vimrc
.clang_complete
/.idea
*.vs
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.cppr
*.hr
*.log
*.svg
*.html
*.zip
*.json
*.csv
*.txt
!requirements.txt
*.DS_Store
*.pdf
*.png
!examples/readme/*.png
*.svg
